<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Film sida</title>
</head>
<body>
    <h1>Film sida</h1>
    <a href="/">Tillbaka</a>

    <div th:if="${saved}">
        <p th:text="${saved}"></p>
    </div>

    <div th:if="${film}">
        <p><strong>Title:</strong> <span th:text="${film.title}"></span></p>

        <div th:if="${saved == null}">
            <!--
            <form th:action="@{/films/{id}(id=${film.id})}" th:object="${film}" method="post">
                    <input type="hidden" th:field="*{id}"/>
                    <button type="submit">Lägg till film: Controller saveFilmById</button>
            </form>
            -->

            <form th:action="@{/movies/savefilm}" th:object="${film}" method="post">
                <input type="hidden" th:field="*{id}"/>
                <button type="submit">Spara film: FilmController saveFilm</button>
            </form>

        </div>

        <p><strong>Poster path:</strong> <span th:text="${film.poster_path}"></span></p>
        <img th:src="'https://image.tmdb.org/t/p/original/' + ${film.poster_path}">

    </div>

    <a href="/">Tillbaka</a>
</body>
</html>