 <!DOCTYPE html>
 <html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Film hantera</title>
</head>
<body>

    <h1>Film Hanterare</h1>

    <p>Välkommen <span th:text="${username}"></span></p>

    <form th:action="@{/logout}" method="post">
        <button type="submit">Logga ut</button>
    </form>
    <br>
    <br/>

    <a href="/register">Registrera ny användare</a>
    <br/>
    <br/>

    <div>
        <a href="/movies/savedfilms">Sparade filmer</a>
        <br>
        <a href="/movies/search">kanske söka film</a>
        <br>
        <a href="/movies/info">Film info</a>
        <br>
        <a href="/movies/searchid">Sök film på id externt</a>
        <br>

        <div sec:authorize="hasRole('ROLE_ADMIN')">
            <a href="/admin">Till admin sidan</a>
        </div>

    </div>
    <h2><span th:text="${username}"></span>'s filmer</h2>

    <div>
        <ul>
            <li th:each="film : ${films}">

                <span>Id: </span><span th:text="${film.id}">ID</span>
                <br/>

                <span>Titel: </span><a th:href="@{/movies/info/{id}(id=${film.filmid})}">

                    <span th:text="${film.title}">Title</span>
                </a>
                <br/>
                <a th:href="@{/opinion/{id}(id=${film.filmid})}">Åsikt</a>

                <br/>
                <br/>

            </li>
        </ul>
    </div>
</body>
</html>