<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns="http://www.w3.org/1999/html"
      xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sparade Filmer</title>
    <script>
        function toggleImage(imgId) {
            const img = document.getElementById(imgId);
            if (img.style.display === "none") {
                img.style.display = "block";
            } else {
                img.style.display = "none";
            }
        }
    </script>
</head>
<body>
<h1>Sparade filmer</h1>
<div>
    <a href="/">Tillbaka</a>
</div>
<div>
    <ul>
        <li th:each="film, iter : ${films}">
            <span th:text="${film.title}">Film Title</span> -
            <a th:href="@{/movies/savedfilms/{id}(id=${film.filmid})}">Se detaljer</a>


            <form sec:authorize="hasRole('ROLE_ADMIN')" th:action="@{/movies/delete/{id}(id=${film.filmid})}" method="post">

                <input type="hidden" name="id" th:value="${film.filmid}">
                <button type="submit">Ta bort film</button>

            </form>


            <button type="button" th:onclick="'toggleImage(\'img-' + ${iter.index} + '\')'">Visa/Dölj Bild</button>
            <br/>
            <img th:id="'img-' + ${iter.index}" th:src="'https://image.tmdb.org/t/p/original/' + ${film.poster_path}" style="display: none; max-width: 300px">
            <br/>
            <br/>
        </li>

    </ul>
</div>
</body>
</html>
