<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>sök film id</title>
</head>
<body>
    <h1>sök film id</h1>

    <a href="/">Tillbaka</a>

    <div>

        <form th:action="@{/movies/searchid}" method="post">

            <label for="filmId">Ange film id:</label>
            <input type="number" id="filmId" name="filmId" required>
            <button type="submit">Sök</button>

        </form>
    </div>
    <div th:if="${error}">
        <p th:text="${error}"></p>
    </div>

    <div th:if="${film}">

        <form th:action="@{/movies/getfilm}" th:object="${film}" method="post">

            <input type="hidden" th:field="*{id}" />
            <input type="hidden" th:field="*{title}" />
            <input type="hidden" th:field="*{poster_path}" />


            <p th:text="*{id}"></p>
            <p th:text="${film.title}"></p>
            <button type="submit">Se detaljer</button>
        </form>

    </div>

</body>
</html>
