<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Söka</title>
</head>
<body>

    <h1>Söka film</h1>
    <a href="/">Tillbaka</a>

    <form th:action="@{/movies/search}" method="post">

        <label>Sök film
            <input type="text" name="filmName" th:value="${filmName}">
        </label>
        <button type="submit">Sök</button>

    </form>



    <!--
    <div th:if="${film != null}">


        <a th:href="@{/movies/savedfilms/{id}(id=${film.id})}"><span th:text="${film.title}">Title</span></a>

    </div>
    -->

    <p th:if="${filmName}">Sökning för: <span th:text="${filmName}"></span></p>

    <div th:if="${error}">
        <p th:text="${error}"></p>
    </div>

    <ul>
        <li th:each="result : ${filmList}">
            <a th:href="@{/movies/savedfilms/{id}(id=${result.filmid})}"><span th:text="${result.title}">Title</span></a>

        </li>
    </ul>



</body>
</html>